/* --------------------------------------------
	БЛОГ
-------------------------------------------- */

.blog { 
	background: #fff; 
	margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2); 
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2); 
	        box-shadow: 0 1px 3px rgba(0,0,0,.2); 
}


/* Header */
.blog .blog-header                 { position: relative; min-height: 50px; padding: 10px 60px 10px 68px; }
.blog .blog-header h2              { font-size: 16px; font-weight: 600; }
.blog .blog-header .avatar         { width: 50px; height: 50px; position: absolute; top: 10px; left: 10px; }
.blog .blog-header .icon-blog-more { position: absolute; top: 10px; right: 10px; }
.blog .blog-header p		 	   { overflow: hidden; color: #788087; font-size: 11px; }

.blog .blog-header .vote-label	{ text-transform: uppercase; text-align: right; font-size: 11px; color: #aaa; }
.blog .blog-header .count 		{ font-size: 34px; line-height: 1em; font-weight: bold; text-align: right; }

.blog .blog-header .vote 									{ position: absolute; top: 15px; right: 15px; }
.blog .blog-header .vote .vote-count 						{ padding-left: 25px; display: block; color: #333; }
.blog .blog-header .vote .vote-up 							{ position: absolute; top: 22px; left: 0; display: none; }
.blog .blog-header .vote .vote-down 						{ position: absolute; top: 35px; left: 0; display: none; }
.blog .blog-header .vote:hover .vote-up,
.blog .blog-header .vote:hover .vote-down,
.blog .blog-header .vote.voted .vote-up,
.blog .blog-header .vote.voted .vote-down 					{ display: inline-block; }
.blog .blog-header .vote.vote-count-positive .vote-count 	{ color: #5055B2; }

.blog .actions { margin-bottom: 0; padding: 8px 9px; background: #f9fafc; }


/* Content */
.blog .blog-content { padding: 10px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }


/* Footer */
.blog .blog-footer { padding: 10px; border-bottom: 1px solid #eee; }