/* -------------------------------------------------------------------
	ОБЩИЕ СТИЛИ
------------------------------------------------------------------- */

.wrapper { 	
	padding: 9px;
	background: #fff;
	border: 1px solid #e1e1e1;
}



/* Slides 
---------------------------------------------------- */
.slide                 { display: none; padding: 13px; background: #fff; }
.slide.slide-bg-yellow { background: #FFFDEF; }
.slide.slide-bg-grey   { background: #f7f7f7; }

.slide.slide-write { font-size: 17px; padding: 15px 20px; }
.slide.slide-write li {  padding: 7px 0; }
.slide.slide-write li a { color: #275ec2; border-bottom: 1px solid #beceed; }
.slide.slide-write li i { margin-right: 5px; }

.slide header h3 { font-size: 17px; font-weight: 600; margin-bottom: 15px; }



/* Голосование 
---------------------------------------------------- */
.vote                     { line-height: 17px; overflow: hidden; display: none; padding: 9px; margin: 0 9px; background: #fafafa;  }
.vote .vote-item          { float: left; width: 30px; height: 30px; margin-right: 15px; cursor: pointer; font-size: 14px; line-height: 30px; position: relative; }
.vote .vote-item i        { position: absolute; top: 0; left: 0; width: 30px; height: 30px; }
.vote .vote-item span     { float: left; margin-left: 7px; }
.vote .vote-up            { background: #148c11; }
.vote .vote-up i          { background: url(../images/icons.png) -780px -82px no-repeat /* icon: vote-up-white.png */; }
.vote .vote-up:active     { background: #95ea61; -webkit-box-shadow: 0 1px 2px #7ac447 inset; box-shadow: 0 1px 2px #7ac447 inset; }
.vote .vote-up:active i   { background: url(../images/icons.png) -720px -82px no-repeat /* icon: vote-up-green.png */; }
.vote .vote-down          { background: #f21a09; }
.vote .vote-down i        { background: url(../images/icons.png) -660px -82px no-repeat /* icon: vote-down-white.png */; }
.vote .vote-down:active   { background: #ff6e6e; -webkit-box-shadow: 0 1px 2px #df4040 inset; box-shadow: 0 1px 2px #df4040 inset; }
.vote .vote-down:active i { background: url(../images/icons.png) -630px -82px no-repeat /* icon: vote-down-red.png */; }
.vote .vote-zero          { width: auto; padding: 0 10px 0 30px; background: #fff; -webkit-box-shadow: 0 0 1px #bec9d3 inset, -1px -1px 0 #bec9d3 inset; box-shadow: 1px 1px 0 #bec9d3 inset, -1px -1px 0 #bec9d3 inset;  }
.vote .vote-zero i        { background: url(../images/icons.png) -840px -82px no-repeat /* icon: vote-zero.png */; }
.vote .vote-zero:active   { background: #f2f5f8; -webkit-box-shadow: 0 1px 2px #cfd8df inset; box-shadow: 0 1px 2px #cfd8df inset; color: #96a3b0; }
.vote .vote-zero:active i { background: url(../images/icons.png) -870px -82px no-repeat /* icon: vote-zero-zero.png */; }

/* Result */
.vote-result                                             {
	width: 30px;
	height: 30px;
	background: url(../images/icons.png) -570px -82px no-repeat /* icon: vote.png */;
	cursor: pointer;
	position: relative;
	line-height: 30px;
	font-size: 14px;
	font-weight: 600;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.3);
	   -moz-text-shadow: 0 1px 0 rgba(255,255,255,.3);
	        text-shadow: 0 1px 0 rgba(255,255,255,.3);
}
.vote-result.voted                                       { width: auto; padding: 0 40px 0 10px; }
.vote-result.vote-nobuttons                              { width: auto; padding: 0 10px 0 10px; }

.vote-result.voted:before                                { content: ""; position: absolute; top: 0; right: 0; width: 30px; height: 30px; border-left: 1px solid; }
.vote-result.voted.vote-count-negative:before            { border-color: #e74848; }
.vote-result.voted.vote-count-positive:before            { border-color: #69c531; }
.vote-result.voted.vote-count-zero:before                { border-color: #ccc; }

.vote-result.voted.voted-up.vote-count-negative:before   { background: url(../images/icons.png) -750px -82px no-repeat /* icon: vote-up-red.png */; }
.vote-result.voted.voted-up.vote-count-positive:before   { background: url(../images/icons.png) -720px -82px no-repeat /* icon: vote-up-green.png */; }
.vote-result.voted.voted-up.vote-count-zero:before       { background: url(../images/icons.png) -810px -82px no-repeat /* icon: vote-up-zero.png */; }

.vote-result.voted.voted-down.vote-count-negative:before { background: url(../images/icons.png) -630px -82px no-repeat /* icon: vote-down-red.png */; }
.vote-result.voted.voted-down.vote-count-positive:before { background: url(../images/icons.png) -600px -82px no-repeat /* icon: vote-down-green.png */; }
.vote-result.voted.voted-down.vote-count-zero:before     { background: url(../images/icons.png) -690px -82px no-repeat /* icon: vote-down-zero.png */; }

.vote-result.voted.voted-zero.vote-count-negative:before { background: url(../images/icons.png) -840px -82px no-repeat /* icon: vote-zero.png */; }
.vote-result.voted.voted-zero.vote-count-positive:before { background: url(../images/icons.png) -840px -82px no-repeat /* icon: vote-zero.png */; }
.vote-result.voted.voted-zero.vote-count-zero:before     { background: url(../images/icons/vote-zero-active.png) no-repeat; }

.vote-result.vote-count-negative                         { background: #ff6e6e; -webkit-box-shadow: 0 2px 2px #df4040 inset; box-shadow: 0 2px 2px #df4040 inset; color: #f21a09; }
.vote-result.vote-count-positive                         { background: #95ea61; -webkit-box-shadow: 0 2px 2px #7ac447 inset; box-shadow: 0 2px 2px #7ac447 inset; color: #148c11; }
.vote-result.vote-count-zero                             { background: #f2f5f8; -webkit-box-shadow: 0 2px 2px #ccc inset; box-shadow: 0 2px 2px #ccc inset; color: #96a3b0; }

.vote-result.vote-no-rating                              { width: 0; padding: 0 30px 0 0 !important; }
.vote-result.vote-no-rating:before                       { border: none !important; }



/* Избранное 
---------------------------------------------------- */
.favourite {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: text-top;
	cursor: pointer;
}
.favourite.active 	{ }
.favourite-count    { margin-left: 0; }



/* Пагинация 
---------------------------------------------------- */
.pagination {
	height: 40px;
	position: relative;
	text-align: center;
	font-size: 11px;
	color: #788087; 
}
.pagination .pagination-arrow {
	position: absolute;
	top: 0;
	display: block;
	width: 28px; 
	height: 28px;
	border: 1px solid #d9e3ec;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	   -moz-box-shadow: 0 1px 0 #fff inset;
	        box-shadow: 0 1px 0 #fff inset;
}
.pagination .pagination-arrow span                       {
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 28px;
	height: 28px;
}
.pagination .pagination-arrow.pagination-arrow-prev      { left: 0; }
.pagination .pagination-arrow.pagination-arrow-next      { right: 0; }
.pagination .pagination-arrow.pagination-arrow-prev span { background: url(../images/icons.png) -28px -112px no-repeat /* icon: paging-prev.png */; }
.pagination .pagination-arrow.pagination-arrow-next span { background: url(../images/icons.png) -0px -112px no-repeat /* icon: paging-next.png */; }
.pagination .pagination-arrow.inactive span              { opacity: .3; }
.pagination .pagination-current                          {
	display: inline-block;
	height: 28px;
	padding: 0 7px;
	line-height: 28px;
	border: 1px solid #d9e3ec;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	   -moz-box-shadow: 0 1px 0 #fff inset;
	        box-shadow: 0 1px 0 #fff inset;
}


/* Actions 
---------------------------------------------------- */
.actions 						{ zoom: 1; margin-bottom: 10px; }
.actions li 					{ float: left; margin-right: 10px; }
.actions li a 					{ color: #D23232; }
.actions li a:hover 			{ text-decoration: underline; }
.actions li a.link-dotted 		{ border-color: #f00; }
.actions li a.link-dotted:hover { border-color: #06e; color: #06e; text-decoration: none; }

.action-button-wrapper         { padding: 0 4px; background: #f9fafc; }
.action-button-wrapper .button { margin: 8px 4px; }



/* Список пользователей 
---------------------------------------------------- */
.user-list-avatar 			{ overflow: hidden; zoom: 1; }
.user-list-avatar li 		{ width: 30px; float: left; margin-right: 14px; margin-bottom: 14px; }
.user-list-avatar li img	{ width: 30px; vertical-align: top; }



/* Поиск 
---------------------------------------------------- */
.search 						{ width: 200px; margin-bottom: 20px; position: relative; }
.search .input-text 			{ width: 200px; padding-right: 25px; }
.search .input-submit 			{ border: none; width: 16px; height: 16px; position: absolute; top: 6px; right: 5px; opacity: .7; filter: alpha(opacity=70); }
.search .input-submit:hover 	{ opacity: 1; filter: alpha(opacity=100); }

.search.search-item 			{ margin-bottom: 15px; width: 100%; }
.search.search-item .input-text { width: 100%; padding-right: 5px; }

.search-abc 					{ overflow: hidden; zoom: 1; padding: 10px 15px; background: #fafafa; margin-bottom: 15px; }
.search-abc li 					{ float: left; margin-right: 10px; }
.search-abc li.active a 		{ color: #333; border: none; }

.search-tags 					{ margin-bottom: 15px; }

.search-header .button { margin: 0; }



/* Облако тегов 
---------------------------------------------------- */
.tag-cloud 					{ width: 100%; }
.tag-cloud li 				{ display: inline; margin-right: 5px; line-height: 22px; }
.tag-cloud li a 			{ text-decoration: none; }
.tag-cloud li .tag-size-1 	{ font-size: 12px; }
.tag-cloud li .tag-size-2 	{ font-size: 12px; }
.tag-cloud li .tag-size-3 	{ font-size: 14px; }
.tag-cloud li .tag-size-4 	{ font-size: 14px; }
.tag-cloud li .tag-size-5 	{ font-size: 18px; }
.tag-cloud li .tag-size-6 	{ font-size: 18px; }
.tag-cloud li .tag-size-7 	{ font-size: 20px; }
.tag-cloud li .tag-size-8 	{ font-size: 20px; }
.tag-cloud li .tag-size-9 	{ font-size: 22px; }
.tag-cloud li .tag-size-10 	{ font-size: 22px; }



/* Item List 
---------------------------------------------------- */
.item-list 					{ border-top: 1px solid #eee; }
.item-list li 				{ min-height: 51px; padding: 7px 0 10px 58px; border-bottom: 1px solid #eee; position: relative; zoom: 1; }
.item-list li p 			{ padding-top: 2px; font-size: 11px; }
.item-list li a 			{ text-decoration: none; }
.item-list li .avatar 		{ position: absolute; top: 10px; left: 0; margin-right: 10px; }
.item-list li .author 		{ font-weight: bold; color: #333; }
.item-list li .blog-name 	{ font-weight: bold; }



/* User Profile Rating
---------------------------------------------------- */
.user-profile-rating                         { margin-right: 10px; font-weight: 600; font-size: 11px; }
.user-profile-rating i                       { vertical-align: middle; position: relative; top: -1px; margin: 0 1px; }
.user-profile-rating                         { color: #148c11; }
.user-profile-rating.user-profile-strength i { position: relative; top: 0; margin: 0; }
.user-profile-rating.user-profile-strength   { color: #788087; }



/* Хелперы
---------------------------------------------------- */
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }

.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-30 { margin-bottom: 30px !important; }

.no-mg { margin: 0 !important; }

.ta-c { text-align: center !important; }
.ta-r { text-align: right !important; }
.va-m { vertical-align: middle; }
.fl-r { float: right !important; }
.fl-l { float: left !important; }

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix 		{ zoom: 1; }

.word-wrap {
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap; 
	white-space: pre-wrap;
	word-wrap: break-word; 
	white-space: normal;
}



/* Разное
---------------------------------------------------- */
.system-message-error 	{ background: #f0c8c8; color: #b22626; padding: 10px 15px; margin-bottom: 5px; }
.system-message-notice 	{ background: #dafad8; color: #4bb23b; padding: 10px 15px; margin-bottom: 5px; }

.notice-empty 			{ color: #aaa; }

.loader { background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }

.user, .ls-user 	{ font-weight: bold; color: #333; }
.user.inactive 		{ color: #aaa; }

.toolbar-update { display: none; }

.multipage { position: relative; overflow: visible; margin-bottom: 13px; }
.multipage:after,
.multipage:before { 
	content: "";
	position: absolute;
	left: 0; bottom: -13px;
	width: 100%;
	height: 13px;
	background: url(../images/multipage.png) no-repeat;
	opacity: .6;
}
.multipage:before { width: 13px; background-position: 0 -13px; }
.multipage:after { left: 13px; background-position: 100% 0; }
.multipage .pagination { margin-top: 20px; }