/* --------------------------------------------
	КОММЕНТАРИИ
-------------------------------------------- */

/* Блок с комментариями */
.comments-header                     { margin-bottom: 20px; }
.comments-header h3                  { font-size: 19px; margin-bottom: 5px; font-weight: 600; }
.comments-header .comments-subscribe { color: #788087; font-size: 11px; }
.comments-header .comments-subscribe input { top: 3px; }

.comments                            { margin-bottom: 30px; }

.comment-wrapper                     { position: relative; }
.comment-wrapper .comment-wrapper    { padding-left: 20px; }

.comment-preview                     { padding: 5px 10px 6px; margin-bottom: 10px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; }
.comment-preview                     { font-size: 13px; line-height: 18px; }

.comment-new-mark                    { display: none; position: relative; top: -1px; margin-left: 5px; background: #05aae9; width: 5px; height: 5px; border-radius: 50%; }


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */
.comments.comment-list                          { margin-bottom: 0; }
.comments.comment-list .comment                 { margin-bottom: 20px; }
.comments.comment-list .comment:last-child      { border-bottom: 0; margin-bottom: 0; }
.comments.comment-list .comment-path            { }
.comments.comment-list .comment-path a          { text-decoration: underline; }
.comments.comment-list .comment-path .blog-name { color: #22b500; }


/* Комментарий */
.comment                 { min-height: 48px; padding: 18px 0 13px 0; position: relative; border-bottom: 1px solid #e2e7ec; }
.comment .deleted        { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .comment-avatar { position: absolute; top: 18px; left: 0; width: 30px; height: 30px; }


/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */
.comment.comment-deleted               { background: #efd5d5; }
/* .comment.comment-self               { background: #c5f7ea; } */
/* .comment.comment-new                { background: #fbfba8; } */
/* .comment.comment-current            { background: #a5e7fa; } */
.comment.comment-bad                   { opacity: 0.3; filter: alpha(opacity=30); }
.comment.comment-bad:hover             { opacity: 1; filter: alpha(opacity=100); }
.comment.comment-new .comment-new-mark { display: inline-block; }

.ls-user-role-not-admin .comment.comment-deleted 	{ padding: 10px 15px; min-height: 0; background: #f7f7f7; color: #888; }


/* Info Block */
.comment .comment-info                                         {
	min-height: 30px;
	color: #788087;
	margin-left: 32px;
	margin-bottom: 7px;
	padding-left: 6px;
	padding-right: 30px;
	font-size: 11px;
	line-height: 13px;
}
.comment .comment-info.comment-topic-author                    {
	background: rgb(254,255,163);
	background: -moz-linear-gradient(left,  rgba(254,255,163,1) 0%, rgba(255,255,255,0) 100px);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,2055,163,0)), color-stop(100px,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(254,255,163,1) 0%,rgba(255,255,255,0) 100px);
	background: -o-linear-gradient(left,  rgba(254,255,163,1) 0%,rgba(255,255,255,0) 100px);
	background: -ms-linear-gradient(left,  rgba(254,255,163,1) 0%,rgba(255,255,255,0) 100px);
	background: linear-gradient(left,  rgba(254,255,163,1) 0%,rgba(255,255,255,0) 100px);
}
.comment .comment-info li:first-child                          { margin-bottom: 3px; }
.comment .comment-info li a                                    { text-decoration: none; }
.comment .comment-info li.comment-author a                     { color: #184e8a; text-decoration: underline; }
.comment .comment-info li.comment-author .comment-topic-author { background: #C9A518; color: #fff; font-size: 11px; border-radius: 3px; padding: 1px 7px; margin-right: 5px; }
.comment .comment-info li.comment-date a                       { color: #7b848d; }
.comment .comment-info li.goto-comment-child                   { display: none; }


/* Vote */
.vote-result-comment       { width: auto; position: absolute; top: 18px; right: 0; margin: 0; font-weight: bold; font-size: 11px; }

.vote-result-comment.voted                   { padding-right: 18px; }
.vote-result-comment.voted:before            { content: ""; position: absolute; top: 2px; right: 0; width: 14px; height: 14px; }
.vote-result-comment.voted.voted-up:before   { background: url(../images/icons.png) -28px -213px no-repeat /* icon: voted-up-comment.png */; }
.vote-result-comment.voted.voted-down:before { background: url(../images/icons.png) -14px -213px no-repeat /* icon: voted-down-comment.png */; }

.vote-result-comment.vote-count-negative { color: #f21a09; }
.vote-result-comment.vote-count-positive { color: #148c11; }
.vote-result-comment.vote-count-zero     { color: #788087; }

.comment .vote { margin: 10px 0 0 0; background: #fff; }


/* Content */
.comment .comment-content                 { margin-bottom: 5px; }
.comment .comment-content.text            { font-size: 11px; line-height: 15px; }
.comment .comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; }


/* Actions */
.comment .comment-actions                      { font-size: 11px; font-family: Verdana; }
.comment .comment-actions li                   { float: left; margin-right: 20px; margin-bottom: 5px; }
.comment .comment-actions li:last-child        { margin-right: 0; }
.comment .comment-actions li.comment-favourite { cursor: pointer; }
.comment .comment-actions li .favourite-count  { position: relative; top: 1px; }
.comment .comment-actions li a                 { color: #788087; }
.comment .comment-actions li a.link-dotted     { border-color: #788087; }


/* Форма комментирования */
.reply-header { font-size: 20px; line-height: 1.3em; margin-bottom: 15px; }

.reply {
	margin: 10px 0;
	padding: 15px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2); 
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2); 
	        box-shadow: 0 1px 3px rgba(0,0,0,.2); 
}
.reply textarea { height: 100px; margin-bottom: 10px; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }

.reply .mceEditor { display: block; margin-bottom: 10px; }