/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{ margin: 0 auto; margin-bottom: 20px; }
#header 	{ height: 44px; position: relative; }
#nav 		{ margin-bottom: 4px; }
#content 	{ 
	margin: 0 4px;
	padding: 9px;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
	        box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#content.no-bg { 
	background: transparent;
	padding: 0;
	-webkit-box-shadow: none; 
	   -moz-box-shadow: none; 
	        box-shadow: none; 
}
#footer 	{ overflow: hidden; zoom: 1; margin-bottom: 20px; padding: 20px 0 50px; color: #777; font-size: 11px; }