/* --------------------------------------------
	СТРАНИЦА ПОЛЬЗОВАТЕЛЯ
-------------------------------------------- */

.profile                                 { min-height: 48px; margin-bottom: 0; padding: 0 0 20px 72px; position: relative; }

.profile .avatar                         { position: absolute; top: 0; left: 0; width: 60px; height: 60px; }
.profile .status                         {
	position: absolute;
	top: 3px;
	left: 50px;
	width: 7px;
	height: 7px;
	background: #53DE2E;
	border-radius: 7px;
}

.vote.vote-blog                       { margin: 0 0 15px; }
.vote.vote-blog .vote-item            { float: right; margin-right: 0; margin-left: 15px; }

.vote-result.vote-result-blog         { float: right; margin-right: 0; width: auto; padding: 0 10px 0 10px; }
.vote-result.vote-result-blog.voted   { padding: 0 40px 0 10px; }

.profile .user-profile-rating-wrapper { width: 57px; position: absolute; top: 12px; right: 0; }
.profile .user-profile-rating         { display: block; margin: 0; }

.profile .user-login                  { width: 270px; font-size: 19px; font-weight: 600; padding-top: 7px; margin-bottom: 7px; }
.profile .user-login.no-user-name     { padding-top: 18px; }
.profile .user-name                   { font-size: 14px; color: #788087; }

.profile-actions                      { padding: 9px; background: #fafafa; margin-bottom: 10px; }
.profile-actions li                   { float: left; margin-right: 9px; }
.profile-actions li.vote-result       { float: right; margin-right: 0; }

.profile-page-header                  { font-size: 12px; font-weight: bold; margin-bottom: 20px; background: #f5f5f5; border-top: 1px solid #eee; color: #555; padding: 5px 10px 6px; }

.profile-info-note                    { padding: 10px; background: #fffcd6; color: #000; font-size: 11px; border-bottom: 1px solid #E1E8EF; }
.profile-info-note h2                 { margin-bottom: 5px; }
.profile-info-note .actions           { margin-bottom: 0; padding-top: 5px; font-size: 12px; line-height: 18px; }
.profile-info-note .actions a         { color: #5055b2; border-color: #5055b2; }

.profile-info-about                   { padding: 20px 0; color: #000; font-size: 11px; border-bottom: 1px solid #E1E8EF; }

.profile-info-photo                   { text-align: center; border-bottom: 1px solid #E1E8EF; }
.profile-info-photo img               { vertical-align: top; max-width: 100%; }

.profile-contacts                          { overflow: hidden; padding-top: 5px; }
.profile-contacts li                       { float: left; margin-right: 10px; margin-bottom: 13px; }
.profile-contacts li a                     { display: block; width: 30px; height: 30px; text-indent: -9999px; }
.profile-contacts li                       { background: url(../images/icons.png) -150px -82px no-repeat /* icon: contact-default.png */; }
.profile-contacts li.contact-vkontakte     { background: url(../images/icons.png) -270px -82px no-repeat /* icon: contact-vkontakte.png */; }
.profile-contacts li.contact-twitter       { background: url(../images/icons.png) -240px -82px no-repeat /* icon: contact-twitter.png */; }
.profile-contacts li.contact-odnoklassniki { background: url(../images/icons.png) -210px -82px no-repeat /* icon: contact-odnoklassniki.png */; }
.profile-contacts li.contact-facebook      { background: url(../images/icons.png) -180px -82px no-repeat /* icon: contact-facebook.png */; }