/* --------------------------------------------
	ТОПИК
-------------------------------------------- */

.topic {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #e1e1e1;
}
.topic:last-child   { margin-bottom: 0; }
.topic.topic-single { margin-bottom: 35px; }

.topic .topic-url   { margin-bottom: 15px; padding: 0 9px; }
.topic .topic-url a { text-decoration: underline; color: #22b500; }

/* Header */
.topic .topic-header							{ padding: 5px 9px 0; margin-bottom: 10px; }
.topic .topic-header .topic-title 				{ font-size: 19px; line-height: 1.5em; font-weight: 600; margin: 0 0 7px; }
.topic .topic-header .topic-title a 			{ color: #184e8a; border-bottom: 1px solid #b9cadc; }
.topic .topic-header .topic-title i 			{ position: relative; top: 6px; cursor: help; margin-left: 3px; }

.topic .topic-header .topic-info 				{ color: #777; }
.topic .topic-header .topic-info time 			{ margin-right: 15px; }
.topic .topic-header .topic-info i 	            { margin-right: 7px; }
.topic .topic-header .topic-info .topic-blog 	{ margin-right: 15px; font-size: 14px; font-weight: 600; color: #676767; }
.topic .topic-header .topic-info .actions,
.topic .topic-header .topic-info .actions li	{ display: inline; float: none; margin-bottom: 0; }
.topic .topic-header .topic-info .actions li	{ margin-right: 10px; }

/* Content */
.topic .topic-content 		{ margin-bottom: 15px; padding: 0 9px; }

.topic .topic-more { padding: 0 9px; margin-bottom: 15px; }

/* Tags */
.topic .topic-footer .topic-tags 						{ padding-top: 7px; margin: 0 0 15px 9px; font-size: 11px; border-top: 1px dotted #cfdbe6; }
.topic .topic-footer .topic-tags li 					{ display: inline; }
.topic .topic-footer .topic-tags li a 					{ text-decoration: underline; color: #5780ae; }
.topic .topic-footer .topic-tags li.topic-tags-edit 	{ margin-left: 20px; }
.topic .topic-footer .topic-tags li.topic-tags-edit a 	{ text-decoration: none; }
.topic .topic-footer .topic-tags li.topic-tags-user a 	{ color: #3CA023; }

/* Info */
.topic .topic-footer .topic-info                                              { position: relative; padding: 6px 0; margin: 0 9px; }
.topic .topic-footer .topic-info li                                           { float: left; margin-right: 9px; padding: 6px; cursor: pointer; font-size: 14px; line-height: 16px; }
.topic .topic-footer .topic-info li:last-child                                { margin: 0; }

.topic .topic-footer .topic-info li.topic-info-favourite i                    { position: relative; top: 1px; }
.topic .topic-footer .topic-info li.topic-info-favourite .favourite-count     { margin-left: 2px; }
.topic .topic-footer .topic-info li.topic-info-favourite.active               { color: #c17819; background: #fffbcd; }

.topic .topic-footer .topic-info li.topic-info-comments i                     { position: relative; top: 1px; }
.topic .topic-footer .topic-info li.topic-info-comments a span.comments-count { color: #000; margin-left: 3px; }
.topic .topic-footer .topic-info li.topic-info-comments a span.comments-new   { color: #148c11; }

.topic .topic-footer .topic-info li.topic-info-views                          {  }
.topic .topic-footer .topic-info li.topic-info-views i                        { margin-right: 2px; }

.topic .topic-footer .topic-info li.topic-info-vote { padding: 0; }


.topic .topic-footer .topic-info li.topic-info-share                          { position: absolute; bottom: 0; right: 0; width: 38px; height: 40px; cursor: pointer; padding: 0; margin: 0; }
.topic .topic-footer .topic-info li.topic-info-share.active                   { background-color: #fffdef; }
.topic .topic-footer .topic-info li.topic-info-share.active i                 { background: url(../images/icons.png) -38px -44px no-repeat /* icon: share-active.png */; }

/* Extra Info */
.topic .topic-footer .topic-info-extra                                      { position: relative; padding: 6px 0; margin: 0 9px; border-top: 1px solid #e1e8ef; }
.topic .topic-footer .topic-info-extra li                                   { float: left; }
.topic .topic-footer .topic-info-extra li.topic-info-author                 { position: relative; height: 30px; padding-left: 37px; padding-right: 50px; }
.topic .topic-footer .topic-info-extra li.topic-info-author img             { position: absolute; top: 0; left: 0; width: 30px; height: 30px; }
.topic .topic-footer .topic-info-extra li.topic-info-author p               { font-size: 11px; line-height: 14px; max-width: 200px; overflow: hidden; }
.topic .topic-footer .topic-info-extra li.topic-info-author p a             { border-bottom: 1px solid #b3c5d8; display: inline-block; line-height: 1.15; }
.topic .topic-footer .topic-info-extra li.topic-info-author time            { display: block; font-size: 11px; color: #788087; }
.topic .topic-footer .topic-info-extra li.topic-info-extra-trigger          { position: absolute; bottom: 0; right: 0; width: 38px; height: 40px; cursor: pointer; }
.topic .topic-footer .topic-info-extra li.topic-info-extra-trigger.active   { background-color: #fffdef; }
.topic .topic-footer .topic-info-extra li.topic-info-extra-trigger.active i { background: url(../images/icons.png) -114px -44px no-repeat /* icon: topic-menu-active.png */; }

.topic .topic-footer .slide.slide-topic-info-extra {
	margin-bottom: 10px;
	padding: 5px 9px;
	border-bottom: 1px solid #fbf8e5;
	background: #fffdef;
}
.topic .topic-footer .slide.slide-topic-info-extra li { font-size: 17px; padding: 10px 0; }
.topic .topic-footer .slide.slide-topic-info-extra li a { border-bottom: 1px solid #becde1; color: #275ec2; }





/* Share */
.topic .topic-share { display: none; padding: 10px; margin-bottom: 10px; background: #fffdef; }

/* Poll */
.topic .poll                                { margin-bottom: 15px; background: #fafafa; padding: 15px; }

.topic .poll .poll-vote                     { margin-bottom: 20px; margin-left: 0; list-style-type: none;	}
.topic .poll .poll-vote li                  { margin-bottom: 10px; position: relative; padding-left: 20px; }
.topic .poll .poll-vote li:last-child       { margin-bottom: 0; }
.topic .poll .poll-vote li label            { display: inline; }
.topic .poll .poll-vote li input            { position: absolute; top: 1px; left: 0; }

.topic .poll .poll-result                   { margin-bottom: 10px; margin-left: 0; list-style-type: none; padding: 15px 15px 0; background: #fff; border: 1px solid #eee; }
.topic .poll .poll-result li                { margin-bottom: 20px; }
.topic .poll .poll-result li dl             { overflow: hidden; zoom: 1; position: relative; }
.topic .poll .poll-result li dl dt          { float: left; width: 50px; text-align: right; }
.topic .poll .poll-result li dl dt span     { color: #aaa; }
.topic .poll .poll-result li dl dd          { margin-left: 70px; }
.topic .poll .poll-result li dl dd div      { height: 10px; margin-top: 5px; background: #ccc; overflow: hidden; border-radius: 2px; }
.topic .poll .poll-result li.most dl dd div { background: #60CC4E; }

.topic .poll .poll-total                    { color: #aaa; margin-top: 10px; }
.topic .poll .button.button-icon.active     { background: #43bb34; }

/* Topic Photo */
.topic.topic-type-photoset                                         {  }
.topic.topic-type-photoset .topic-photo-preview                    { margin: 0 9px 15px; min-height: 100px; background-color: #fafafa; position: relative; margin-bottom: 15px; cursor: pointer; }
.topic.topic-type-photoset .topic-photo-preview img                { vertical-align: top; width: 100%; }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-count {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	background: #000;
	color: #fff;
	padding: 4px 7px;
	opacity: .7;
}

.topic.topic-type-photoset .topic-photo-images                           { padding-top: 10px; margin-bottom: 15px; }
.topic.topic-type-photoset .topic-photo-images h2                        { border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 15px; }
.topic.topic-type-photoset .topic-photo-images ul                        { overflow: hidden; zoom: 1; }
.topic.topic-type-photoset .topic-photo-images ul li                     { float: left; margin: 0 9px 9px 0; position: relative; }
.topic.topic-type-photoset .topic-photo-images ul li .image-number       { display: none; position: absolute; top: 5px; right: 5px; background: #000; color: #6bd24b; padding: 1px 6px; font-size: 11px; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-images ul li:hover .image-number { display: block; }
.topic.topic-type-photoset .topic-photo-images ul li img                 { vertical-align: top; }
.topic.topic-type-photoset .topic-photo-images .topic-photo-more         { display: block; border-top: 1px solid #dbe6f0; text-align: center; padding: 10px 0; margin-bottom: 15px; text-decoration: none; background: #f3f7fa; color: #7b90a5; }
.topic.topic-type-photoset .topic-photo-images .topic-photo-more:hover   { background: #eaf2f8; }

.topic-photo-upload                                          { background: #fafafa; padding: 15px 15px 15px; margin-bottom: 20px; }
.topic-photo-upload h2                                       { margin-bottom: 15px; }
.topic-photo-upload ul                                       { overflow: hidden; zoom: 1; }
.topic-photo-upload ul li                                    { min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img                                { position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li label                              { color: #aaa; }
.topic-photo-upload ul li textarea                           { border: 1px solid #ddd; width: 100%; height: 60px; padding: 3px; font-size: 12px; font-family: Arial, sans-serif; color: #333; }
.topic-photo-upload ul li .image-delete                      { text-decoration: none; margin-right: 15px; }
.topic-photo-upload ul li .image-delete:hover                { color: #f00; }
.topic-photo-upload ul li.marked-as-preview .mark-as-preview { display: inline; color: #43c70f; font-weight: bold; }
.topic-photo-upload ul li .mark-as-preview                   { display: none; text-decoration: none; }
.topic-photo-upload ul li:hover .mark-as-preview             { display: inline; }
.topic-photo-upload .topic-photo-upload-rules                { color: #888; margin-bottom: 15px; }
.topic-photo-upload .topic-photo-upload-input                { margin-bottom: 20px; }
.topic-photo-upload .topic-photo-upload-input input          { margin-top: 3px; }

/* Topic Talk */
.topic.topic-type-talk { }
.topic.topic-type-talk .topic-info-extra li.topic-info-author { float: none; width: auto; height: auto; padding-left: 0; }
.topic.topic-type-talk .topic-footer .topic-info-extra li.topic-info-author p { max-width: none; }

/* Topic Preview */
.topic-preview { margin-top: 30px; }
.topic-preview .profile-page-header { border-top: 1px solid #ddd; }
.topic-preview .topic { margin-bottom: 20px; }